{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "phones/css/home.css" %}">
    <title>home</title>
</head>
<body>
    <header>
        <div id="header">
            <a class="button" href="?sort=name">Sort by name</a>
            <a class="button" href="?sort=min_price">Sort by price (low)</a>
            <a class="button" href="?sort=max_price">Sort by price (high)</a>
        </div>
    </header>
    <main>
        <div class="phones-grid">
            {% for phone in phones %}
                <div class="container">
                    <a href="{{ phone.slug }}">
                        <img src="{{ phone.image }}">
                        <p>{{ phone.name }}<br>{{ phone.price }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>